@font-face {font-family: "iconfont";
  src: url('iconfont-mail.eot?t=1547717497821'); /* IE9 */
  src: url('iconfont-mail.eot?t=1547717497821#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKMAAsAAAAABkwAAAJCAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApYawE2AiQDCAsGAAQgBYRtBy4bjwXIHpIkgTpYEAIAAABGPDzt9+3cmfmqaR3RZE00i2haUiBBiVbNSiWLZ/K7/7U2ZxryvH7mSRBNmtfmr/js4JkSIVQiJdHuIoTGowGZrf8pcEx9eoHkgO4SERQZGAl4sOtBO/BN9gvd+MPYBS/wPIG2JR25Y8eXN1BV2NMCse7aOlQLPkVhyaZQb1hbxGM1zfQwiUfR9+OfXVElqWV22cn7Rxasf7120jIVrgYEfgLaXEPGTqAQZxtjxxUEYxa0Y0Vr4FjFwa/X1YFVHNUk2F9nF3bBAhQ/k8STPmphAiUZnAPLkx5FGtZf2y8+LFx8/7h38PV5ufbx6axm5G6Z06v9s0P/WZWrQ7EgSJerjU/O7h3aubM7u0Psn+XnKYHgYOy+3hjs+9/sFPDl/vpzZCyGOWjuyR78EcnAjmLIbEsqmqTRkcwnTU1oa6OCXWO/U/Wz06dC0+wmHA2LGbKmjcRC3Ymajj2oazqIth1ONndMsIIoLWz3BhCGPpH0fUY29E0s1B/UzP2hbhgFtJ2PyZ4dm8OtH2XShSw0ntE140i5NqnHxVdk3wc652UR6444c4M47A3KyROKiJdYkD3YIxGFiuMQj8FlFAQxJhx7ZErPEUlW/b5qelPPjEOoO4oRnSAWZHiGXKZYRAX9Rb3y+SvEdi+g446aOv8dwjLu8GioZzCAeKKOBtU8yjWZB7YRIRSksFgIHYNRJBCIoaR5lIeYRI8zIZJY6Tu91FB1b3tt+ANFrAHbkMKpzsoD3Q0AAA==') format('woff2'),
  url('iconfont-mail.woff?t=1547717497821') format('woff'),
  url('iconfont-mail.ttf?t=1547717497821') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont-mail.svg?t=1547717497821#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mail:before {
  content: "\e7b7";
}

